/*------------ Color Palette ------------*/
/*
LIGHT ORANGE: #e4644b
DARK ORANGE: #d05942
DARK BROWN: #484141
Menu text: #f7f1e3
Submenu text: #ae9f9f
*/

/*------------ General Settings ------------*/

body {
    font-family: "Montserrat", sans-serif;
    overflow: hidden;
    margin: 0;
    padding: 0;
    letter-spacing: .2px;
}

ul {
    margin: 0;
    width: 276px;
    list-style: none;
}

li {
    cursor: pointer;
}

/*------------ Main Menu ------------*/
.mainmenu {
    font-size: 16px;
    position: relative;
    margin: 0;
    padding: 0;
}

.mainmenu > li {
    box-sizing: border-box;
    height: 48px;
    color: #f7f1e3;
    border-top: 1px solid #d05942;
}

.mainmenu > li:first-child {
    border-top: 0;
}

.mainmenu > li span {
    line-height: 48px;
    display: block;
    float: right;
}

.mainmenu > li .icon {
    display: block;
    float: right;
    width: 20px;
    height: 20px;
    padding: 14px 20px 0 20px;
}

.messages {
    color: white;
    font-size: 15px;
    line-height: 19px;
    display: block;
    float: left;
    width: 34px;
    height: 18px;
    margin-left: 19px;
    padding: 0;
    text-align: center;
    background-color: #d05942;
    border-radius: 10px;
}

.expand-triangle {
    width: 276px;
    height: 10px;
    content: " ";
}

.expand-triangle img {
    width: inherit;
    height: inherit;
    margin-right: -40px;
    vertical-align: top;
}

/*------------ Sub Menu ------------*/
.submenu {
    margin-top: 1px;
    font-size: 13px;
    box-sizing: border-box;
    content: " ";
    color: #ae9f9f;
    background-color: #484141;
}

.submenu li {
    line-height: 20px;
    height: 35px;
    width: 230px;
    margin: 0;
    padding: 0;
    margin-left: -40px;
    padding-top: 11px;
    transition: border-left 220ms ease-in;
    border-left: solid 6px #484141;
    background-color: #484141;
}

.submenu .chosen,
.submenu .chosen:hover {
    border-left: solid 6px #96d145;
}

.submenu li:hover {
    border-left: solid 6px #d05942;
}

.submenu li span {
    margin-left: 30px;
}
.head-nav-icon{
    position: relative;display: inline-block;margin: 0 10px;border-radius: 25px;padding: 5px;
}